.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  :global {
    .iconfont {
      margin-right: 10PX;
      font-size: 20PX;
    }
  }

  .avatar {
    width: 120PX;
    margin-top: 38%;
  }

  .login-btn {
    width: 200PX;
    margin: 10PX 0;

    .btn-text {
      font-size: 20PX;
    }
  }

  .form {
    width: 220PX;

    :global {
      .weui-input {
        text-align: center;
        font-size: 18PX;
        color: #7acab6;

        &::placeholder {
          color: #7acab6;
        }
      }

      .van-cell::after {
        border-color: #ddd;
      }
    }
  }

  .helper-text {
    margin-top: 10PX;
    color: #999;
  }

}

.profileContainer {
  height: 100%;
  font-size: 16PX;
  color: #555;
  background-color: #fafafa;

  .avatarContainer {
    padding: 10PX 15PX;
    margin-bottom: 15PX;
    box-shadow: 0 1PX 5PX rgba($color: #555, $alpha: 0.1);
    background-color: #fff;
  }

  .avatar {
    width: 40PX;
    height: 40PX;
    border-radius: 50%;
  }

  .nickname {
    margin: 0 10PX 0 15PX;
  }

  .tag {
    display: inline-block;
    padding: 1PX 6PX;
    border-radius: 12PX;
    font-size: 11PX;
    color: #fff;
    background-color: var(--primary-color);
  }
}

.group {
  .itemContainer:not(:last-child) {
    border-bottom: 1PX solid #ddd;
  }
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  padding: 10PX 15PX;
  font-size: 14PX;
  background-color: #fff;

  :global {
    .iconfont {
      font-size: 14PX;
      font-weight: 600;
      color: #666;
    }
  }
}
