:root {
  --primary-color: #5dcbb5;
}

#app {
  font-family: PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei, sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
