@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #5dcbb5;
  --warn-color: #ffdd00;
  --error-color: #f44336;
}

#app {
  display: flex;
  flex-direction: column;
  font-family: PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei, sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-center {
  display: flex;
  justify-content: center;
}

.v-center {
  display: flex;
  align-items: center;
}

.f-between {
  display: flex;
  justify-content: space-between;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loading-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 900;
  background-color: rgba($color: #fff, $alpha: .5);

  .van-loading__spinner--circular {
    border-width: 5rpx;
  }
}

@mixin ellipse-line($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
  text-overflow: ellipsis;
}
